.navbar {
  width: 100%;
  height: 100%;
  background-color: #191A1C;
  padding: 24px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navName{
  font-size: 1.5rem;
  font-family: 'IBMPlexSerif', sans-serif;
  cursor: pointer;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'IBMPlexSans';
  width: 275px;
  font-weight: 600;
  cursor: pointer;
}

.navList a {
  text-decoration: none;
  color: inherit;  /* or your custom color */
}

.navItem {
  
}
