.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* ✅ Hover gradient overlay */
.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 16, 0) 0%,
    rgba(13, 14, 16,0) 36.46%,
    #0D0E10 100%
  );
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.cardContainer:hover .imageWrapper::after {
  opacity: 1;
}


.labelDate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: .75rem;
}

.label {
  border: solid 1px rgba(59, 64, 70, 1);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'IBMPlexSans';
  font-weight: 600;
}

.date {
  font-family: 'IBMPlexSans';
  font-weight: 400;
  font-size: .75rem;
}

.caption {
  font-family: 'IBMPlexSerif';
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* ✅ Caption color change on hover */
.cardContainer:hover .caption {
  color: rgba(25, 26, 28, 0.514);
}