
.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imageWrapper {
  width: 100%;
  height: 271px;
}


.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.labelDate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: .75rem;
}

.label {
  border: solid 1px rgba(59, 64, 70, 1);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'IBMPlexSans';
  font-weight: 600;
}

.date {
  font-family: 'IBMPlexSans';
  font-weight: 400;
  font-size: .75rem;
}

.caption {
  font-family: 'IBMPlexSerif';
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  display: -webkit-box;        /* necessary for multi-line ellipsis */
  -webkit-line-clamp: 2;       /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description{
  font-family: 'IBMPlexSans';
  font-size: 0.75rem;
  font-weight: 400;
  display: -webkit-box;        /* necessary for multi-line ellipsis */
  -webkit-line-clamp: 2;       /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
